html {
  margin: 0;
  padding:0;
}

* {
  font-family: trebuchet, helvetica, sans-serif;
  color:#222;
}

body {
  min-width: 980px;
  width: 100%;
}

.wrapper {
  
}

.head {
  padding: 40px;
  margin-bottom:30px;
  background-color: #36FF9F;
}

h1 {
  padding: 20px;
}

#lfminfo {
  margin-right: 10px;
}

.main {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
}

#outbox {
  padding-top:20px;
}